@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    font-family: "Hind Siliguri", sans-serif !important;
}


@layer base {
    input {
        outline: none !important;
    }

    p {
        color: #292D32;
    }
}

@layer components {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header_btn {
        @apply cursor-pointer hover:text-black hover:font-medium;
    }
}